
.book_page{
  background-color: rgb(183, 183, 93);
}

.book_card{
  width:20%;
  border:none !important;
  background-color: rgb(183, 183, 93) !important;
  margin-left: auto;
  margin-right: auto;
}
.home_link{
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.image_book{
  /* object-fit: contain; */
  height: 350px;
}
.button_book{
  margin-left: auto;
  margin-right: auto;
  width: unset !important;
}
.cart_image{
  width:222px;
  height: 250px;
}
.stock_color{
  color:brown;
  font-weight: 500;
}